* {
  margin: 0;
  padding: 0; }

.main {
  background-color: #f1f0e1;
  width: 100%; }
  .main__div {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/scotch-whisky-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: space-around; }
  .main__div p {
    font-size: 30px;
    font-weight: bold;
    color: white; }
  .main__div button {
    color: white;
    background-color: #ca8018;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 2px, 2px black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
  .main__div button:hover {
    background-color: #f28f1d;
    transition: 0.5s;
    cursor: pointer; }
  .main__div h1 {
    color: #f1e4e4;
    font-size: 45px;
    text-align: center;
    font-weight: bold; }
  .main__p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-size: 25px;
    font-weight: bold;
    animation-name: efecto-main__p;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s; }
  .main__section--article {
    padding: 15px;
    width: 50%;
    font-size: 20px;
    background-color: #fdebd6;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
    height: 30%; }
  .main__section--article--h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px; }
  .main__section--article img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px; }
  .main h3 {
    text-align: center; }
  .main .main__index__sections {
    margin: 20px; }
  .main .main__index__section1--1, .main .main__index__section1--2, .main .main__index__section1--3 {
    margin-bottom: 10px; }
  .main .main__index__section2--4, .main .main__index__section2--5, .main .main__index__section2--6 {
    margin-top: 10px; }
  .main .button--index1 {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    background-color: #ca8018; }
  .main .button--index1:hover {
    background-color: #f28f1d;
    transition: 0.5s;
    cursor: pointer; }
  .main .button--index2 {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    background-color: #ca8018; }
  .main .button--index2:hover {
    background-color: #f28f1d;
    transition: 0.5s;
    cursor: pointer; }
  .main .button--index3 {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    background-color: #ca8018; }
  .main .button--index3:hover {
    background-color: #f28f1d;
    transition: 0.5s;
    cursor: pointer; }
  .main .card-group {
    padding: 20px; }
  .main .card {
    background-color: #fdebd6; }
  .main .card-group {
    gap: 10px;
    padding: 20px;
    border-radius: 40px; }
  .main .card {
    background-color: #fdebd6; }

.main__cata {
  background-color: #f1f0e1;
  height: auto; }

.main__cata h1 {
  color: black;
  padding-top: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.main__cata h2 {
  text-align: center;
  padding-top: 40px;
  color: #ca8018;
  font-weight: bold; }

.main__cata__section1 {
  display: flex;
  padding: 20px; }

.main__cata h3 {
  text-align: justify;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  padding: 20px; }

.main__cata ul {
  display: flex;
  justify-content: right;
  flex-direction: column; }

.main__cata__section2 {
  display: flex;
  padding: 20px; }

.main__cata__section1--article1,
.main__cata__section1--article2,
.main__cata__section1--article3 {
  width: 33.3%;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #fdebd6;
  padding-bottom: 10px; }

.main__cata__section2--article4,
.main__cata__section2--article5 {
  width: 50%;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #fdebd6;
  padding-bottom: 10px; }

.main__cata__div {
  padding-top: 60px; }

.main__cata__section1--article1--div {
  display: flex; }

.main__cata__section1--article1--div img {
  margin-left: 100px;
  padding: 10px; }

.main__cata h1 {
  text-align: center; }

.main__cata h2 {
  text-align: center;
  padding-top: 40px; }

.catas__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.catas__cards--1,
.catas__cards--2,
.catas__cards--3,
.catas__cards--4,
.catas__cards--5 {
  position: relative;
  width: 400px;
  height: 350px;
  margin: 20px; }

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s; }

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000; }

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card .front h4 {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center; }

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #fdebd6;
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000; }

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px; }

.card .back .link a {
  color: #f3f3f3; }

.card .back h4 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back p {
  letter-spacing: 1px; }

.card:hover .front {
  transform: perspective(600px) rotateY(180deg); }

.card:hover .back {
  transform: perspective(600px) rotateY(360deg); }

.main__historia {
  background-color: #f1f0e1; }
  .main__historia h1 {
    color: black;
    padding-top: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: bold; }
  .main__historia__section1--article1, .main__historia__section1--article2, .main__historia__section1--article3 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dacfcf;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .main__historia__section1--article1 h2,
  .main__historia__section1--article2 h2,
  .main__historia__section1--article3 h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #ca8018;
    font-weight: bold; }
  .main__historia .main__historia--h2 {
    color: #ca8018; }
  .main__historia__section1--article1 p,
  .main__historia__section1--article2 p,
  .main__historia__section1--article3 p {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: black; }
  .main__historia__section1--article1 h2 {
    padding-top: 40px; }
  .main__historia__section1--article1 img {
    padding: 30px;
    margin-top: 30px;
    margin: auto; }
  .main__historia__section1--article2 img {
    padding: 30px;
    margin-top: 80px;
    margin: auto; }
  .main__historia__section1--article3 img {
    padding: 30px;
    margin-top: 30px;
    margin: auto; }
  .main__historia__section1--article2 h3 {
    padding: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px; }
  .main__historia--h2 {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 35px; }
  .main__historia__section2--fila1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .main__historia__section2--fila1--article1 iframe,
  .main__historia__section2--fila1--article2 iframe,
  .main__historia__section2--fila1--article3 iframe,
  .main__historia__section2--fila1--article4 iframe {
    padding: 10px;
    width: 300px; }

.main__ubicacion {
  background-color: #f1f0e1; }

.main__ubicacion h1 {
  color: black;
  padding-top: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: bold; }

.main__ubicacion h2 {
  text-align: center;
  padding-top: 30px;
  color: black; }

.main__contacto__section--ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 30px; }

.main__contacto__section--ubicacion--div {
  display: flex;
  justify-content: center;
  align-items: center; }

.main__contacto__section--ubicacion--div p {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px; }

.main__contacto__section--ubicacion--div img {
  margin-bottom: 30px; }

.main__contacto__section--ubicacion iframe {
  padding-bottom: 30px; }

.main__contacto {
  background-color: #f1f0e1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/multimedia/alcohol-alcoholic-cold-12591.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

.main__contacto h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 45px;
  font-weight: bold; }

.main__contacto h2 {
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
  font-weight: bold; }

.main__contacto p {
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold; }

.main__contacto__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main__contacto__section img {
  margin-top: 40px; }

.main__contacto--form {
  padding-top: 20px; }

.submit-reset {
  padding: 30px; }

.footer {
  background-color: #313030;
  display: flex;
  justify-content: space-around; }

.footer__redes {
  padding: 25px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly; }

.footer__redes img {
  padding: 7px; }

.footer__formulario {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  padding-left: 40px; }

.footer__formulario--h3 {
  color: #eeeaea; }

.footer__formulario--input label {
  color: white;
  padding-left: 130px;
  padding-top: 20px; }

.footer__formulario--input--email {
  background-color: #eeeaea;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  outline: none; }

.footer__enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  padding-top: 10px; }

.footer__enlaces li {
  list-style: circle;
  display: inline;
  padding: 2px;
  justify-content: flex-end; }

.footer__enlaces li a {
  text-decoration: none;
  color: white; }

.footer__copyright {
  color: white;
  padding-top: 70px;
  display: block;
  padding-left: 100px; }

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto; }
  .main__historia {
    height: auto; }
  .main__cata {
    height: auto; }
  .header__form {
    padding-bottom: 20px; }
  .main__section {
    flex-direction: column; }
  .main__section--article,
  .main__section--aside {
    width: 90%;
    margin: 10px; }
  .main__section2 {
    flex-direction: column;
    height: auto; }
  .main__section2--article1,
  .main__section2--article2,
  .main__section2--aside {
    width: 90%;
    margin: 10px; }
  .main__contacto__section--ubicacion--div {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-right: 40px; }
  .main__contacto__section--ubicacion--div p {
    padding-bottom: 20px; }
  .footer__enlaces {
    display: none; } }

@media screen and (max-width: 480px) {
  .main__p {
    padding: 40px; }
  .main__section {
    flex-direction: column;
    width: 80%;
    padding: 20px; }
  .main__section--article img {
    padding: 20px;
    padding-left: 40px;
    width: 280px;
    height: auto; }
  .main__index h3 {
    text-align: center; }
  .button--index1, .button--index2, .button--index3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main__contacto {
    height: auto; }
  .main__contacto__section--ubicacion--div {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-right: 40px; }
  .main__contacto__section--ubicacion--div p {
    padding-bottom: 20px; }
  .main__cata {
    height: auto; }
  .footer__enlaces {
    display: none; } }

@media screen and (min-width: 1500px) {
  .main__index__section1 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .main__index__section2 {
    display: flex;
    justify-content: space-around;
    align-items: center; } }
