@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      
    }

    
    .main__historia {
      height: auto;
  
  }


  
    .main__cata{
      height: auto;
    }

    .header__form {
      padding-bottom: 20px;
    }
  
    .main__section {
      flex-direction: column;
    }
  
    .main__section--article,
    .main__section--aside {
      width: 90%;
      margin: 10px;
    }
  
    .main__section2 {
      flex-direction: column;
      height: auto;
    }
  
    .main__section2--article1,
    .main__section2--article2,
    .main__section2--aside {
      width: 90%;
      margin: 10px;
    }

  
    .main__contacto__section--ubicacion--div {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      padding-right: 40px;
    }
  
    .main__contacto__section--ubicacion--div p {
      padding-bottom: 20px;
    }

    .footer__enlaces {
      display: none;
    }
    
  }
  
  @media screen and (max-width: 480px) {
   
    .main__p {
      padding: 40px;
    }
  
    .main__section {
      flex-direction: column;
      width: 80%;
      padding: 20px;
    }
  
    .main__section--article img {
      padding: 20px;
      padding-left: 40px;
      width: 280px;
      height: auto;
    }
  
.main__index h3 {
  text-align: center;
}

.button--index1, .button--index2, .button--index3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
    .main__contacto {
      height: auto;
    }
  
    .main__contacto__section--ubicacion--div {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      padding-right: 40px;
    }
  
    .main__contacto__section--ubicacion--div p {
      padding-bottom: 20px;
    }
  
    .main__cata{
      height: auto;
    }
  
    .footer__enlaces {
      display: none;
    }
  }

  @media screen and (min-width: 1500px) {

    .main__index__section1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }



    .main__index__section2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

   
  }
