$color-header-objetos:  #fdebd6;
$color-fondos-pages:  #f1f0e1;
$color-button-tienda:  #cb1c1c;
$color-gradient-parallax: rgba(0, 0, 0, 0.5);
$color-fuente-historia: black;

$fuente-cata: 25px;
$fuente-h1: 45px;
$fuente-h2: 35px;
$fuente-h3: 30px;