
  .main__contacto {
    background-color: bdb4b4;
    background-image: linear-gradient(0deg, $color-gradient-parallax, $color-gradient-parallax), url("/multimedia/alcohol-alcoholic-cold-12591.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }
  
  
  .main__contacto h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: $fuente-h1;
    font-weight: bold;
  }
  
  .main__contacto__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-left: 30px;
    align-items: center;
  }
  
  .main__contacto__section img {
    margin-left: 110px;
    margin-top: 70px;
  }
  
  .main__contacto--form {
    padding-left: 100px;
    padding-top: 20px;
  }
  
  
  .submit-reset {
    padding: 30px;
  }