.main__ubicacion {
  background-color: $color-fondos-pages;
}

.main__ubicacion h1 {
  color: $color-fuente-historia;
  padding-top: 30px;
  text-align: center;
  font-size: $fuente-h1;
  font-weight: bold;
}

.main__ubicacion h2 {
  text-align: center;
  padding-top: 30px;
  color: black; }

.main__contacto__section--ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 30px;
}

.main__contacto__section--ubicacion--div {
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.main__contacto__section--ubicacion--div p {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.main__contacto__section--ubicacion--div img {
  margin-bottom: 30px;
}

.main__contacto__section--ubicacion iframe {
  padding-bottom: 30px;
}
